@{
    ViewBag.Title = "Index";
}
 <!-- begin Content -->
    <section id="club" >
        <!-- begin Sub Header -->
        <div class="sub-header" >
            <div class="container">
                <div class="row" >
                    <ul class="sub-header-container" >
                        <li>
                            <h3 class="title">No pressure, no diamonds</h3>
                        </li>
                        <li>
                            <ul class="custom-breadcrumb" >
                                <li><h6><a href="index.html">Home</a></h6></li>
                                <li><i class="separator entypo-play" ></i></li>
                                <li><h6>Crossfit</h6></li>
                            </ul>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end Sub Header -->

        <!-- begin GYM Club -->
        <article class="article-container">
            <div class="container" >
                
                <div class="row" >
                    <div class="col-md-12">
                    <h2 class="article-title" >Crossfit</h2>
                    <span class="line" >
                        <span class="sub-line" ></span>
                    </span>
                    </div>
                </div>

                <div class="row">
                    <!-- -->
                    <div class="col-md-6" >
                        <h3>Do you have a well-planned fitness routine?</h3>
                        
                        <p>Proin eros ante, viverra id risus non, porttitor posuere enim. In hac habitasse platea dictumst. Integer dapibus velit eu mattis ullamcorper. Nam ac placerat ligula, eu sodales nisl. Sed libero nisi, aliquet non tellus non, pharetra faucibus diam. Phasellus scelerisque fringilla diam, ac rhoncus purus sodales mattis. Nullam eleifend molestie felis ac tempus. Curabitur semper arcu a est viverra, vel adipiscing dui tristique.</p>
                        
                        <p>Maecenas ut scelerisque ante. Maecenas nunc libero, suscipit ut adipiscing sit amet, accumsan sed eros. Vestibulum varius lacus eget molestie tempor. Nam bibendum ullamcorper laoreet. Sed vestibulum erat ac est facilisis commodo.</p>
                    </div>
                    <div class="col-md-6" >
                        <img src="~/Images/img/club.jpg" class="gym-club" alt="img" />
                    </div>
                </div>

                <div class="row">
                    <!-- -->
                    <div class="col-md-6" >
                       <h2 class="headers">Workout of The Day</h2>
						<span class="line" >
							<span class="sub-line" ></span>
						</span>
						<div class="tabbable tabs-left">
						<ul class="nav nav-tabs col-xs-4"><!--  nav-tabs-sec" id="myTab"  nav-tabs-sec -->
							<li class="active"><a href="#outside-sec" data-toggle="tab"><span class="gym-icon outside"></span>Outside Sports</a></li>
							<li><a href="#video-sec" data-toggle="tab" ><span class="gym-icon video"></span>Video Tour</a></li>
							<li><a href="#quiet-sec" data-toggle="tab" ><span class="gym-icon sports"></span>Quiet Sports</a></li>
							<li><a href="#comunity-sec" data-toggle="tab" ><span class="gym-icon comunity"></span>Sportive Comunity</a></li>
							<li><a href="#footbal-sec" data-toggle="tab" ><span class="gym-icon footbal"></span>Footbal</a></li>
						</ul>
								 
						<div class="tab-content col-xs-8">
							<div class="tab-pane in active" id="outside-sec">
								<p>
									1Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
							<div class="tab-pane in" id="video-sec">
								<p>
									2Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
							<div class="tab-pane in" id="quiet-sec">
								<p>
									3 go ulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
							<div class="tab-pane in" id="comunity-sec">
								<p>
									4Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean mnean molestie nissl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
							<div class="tab-pane in" id="footbal-sec">
								<p>
									5Ut a molestie urna. Vestibulum malesuaollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
						</div> 
                            </div>
                    </div>
                    <div class="col-md-6" >
                        <h3>Do you have a well-planned fitness routine?</h3>
                        
                        <p>Proin eros ante, viverra id risus non, porttitor posuere enim. In hac habitasse platea dictumst. Integer dapibus velit eu mattis ullamcorper. Nam ac placerat ligula, eu sodales nisl. Sed libero nisi, aliquet non tellus non, pharetra faucibus diam. Phasellus scelerisque fringilla diam, ac rhoncus purus sodales mattis. Nullam eleifend molestie felis ac tempus. Curabitur semper arcu a est viverra, vel adipiscing dui tristique.</p>
                        
                        <p>Maecenas ut scelerisque ante. Maecenas nunc libero, suscipit ut adipiscing sit amet, accumsan sed eros. Vestibulum varius lacus eget molestie tempor. Nam bibendum ullamcorper laoreet. Sed vestibulum erat ac est facilisis commodo.</p>
                    </div>
                </div>

            </div>
        </article>
        <!-- end GYM Club -->

    </section>
    <!-- end Content -->

