@{
    ViewBag.Title = "Home Page";
}
<!-- Content -->
	<section id="home" >
		<!-- Sub Header -->
		<div class="sub-header" >
			<!-- Slider -->                             
			<div class="bannercontainer">
			<div class="banner ">
				<ul>                        
					<li 
						class="slide1" 
						data-transition="boxslide" 
						data-slotamount="1"
					>
						<img src="~/Images/img/slider/01.jpg" alt="//" />
						<div 
							class="caption lfb ltb" 
							data-x="600"
							data-y="120"
							data-speed="700"
							data-start="500"
							data-easing="easeOutBack"
						>
							<h2>cardio fitness</h2>
						</div>
						<div 
							class="caption lfb ltb"  
							data-x="600" 
							data-y="120" 
							data-speed="500" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<p>strength - stamina - power</p>
						</div>
						<div 
							class="caption lfb ltb"  
							data-x="600" 
							data-y="120" 
							data-speed="300" 
							data-start="500"
						>
							<a class="see_work" href="#portfolio" >sign up today</a>
						</div>                                    
					</li>

					<li 
						class="slide2" 
						data-transition="boxslide" 
						data-slotamount="1"
					>
						<img src="~/Images/img/slider/02.jpg" alt="//" />
						<div 
							class="caption lfb ltb divA"  
							data-x="100" 
							data-y="bottom" 
							data-speed="700" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<h2>yoga pilates</h2>
							<p>Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin. Lorem ipsum dolor sit amet velu.</p>
						</div>

						<div 
							class="caption lfb ltb divB"  
							data-x="440" 
							data-y="bottom" 
							data-speed="700" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<h2 class="invert">indoor cycling</h2>
							<p>Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin. Lorem ipsum dolor sit amet velu.</p>
							<button class="button-gym">Read More</button>
						</div>

						<div 
							class="caption lfb ltb divC"  
							data-x="780" 
							data-y="bottom" 
							data-speed="700" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<h2>cardio fitness</h2>                               
							<p>Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin. Lorem ipsum dolor sit amet velu.</p>
						</div>
					</li> 

					<li 
						class="slide3" 
						data-transition="boxslide" 
						data-slotamount="1"
					>
						<img src="~/Images/img/slider/04.jpg" alt="//" />
						<div 
							class="caption lfb ltb"  
							data-x="100" 
							data-y="95" 
							data-speed="700" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<h2>Personal Training</h2>
						</div>
						<div 
							class="caption lfb ltb"  
							data-x="100" 
							data-y="75" 
							data-speed="500" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<p>Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin. Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin.</p>
						</div>
						<div 
							class="caption lfb ltb"  
							data-x="100" 
							data-y="75" 
							data-speed="300" 
							data-start="500"
						>
							<a class="see_work" href="#portfolio" >sign up today</a>
						</div>                                    
					</li>
					<li 
						class="slide1" 
						data-transition="boxslide" 
						data-slotamount="1"
					>
						<img src="~/Images/img/slider/05.jpg" alt="//" />
						<div 
							class="caption lfb ltb" 
							data-x="600"
							data-y="120"
							data-speed="700"
							data-start="500"
							data-easing="easeOutBack"
						>
							<h2>cardio fitness</h2>
						</div>
						<div 
							class="caption lfb ltb"  
							data-x="600" 
							data-y="120" 
							data-speed="500" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<p>strength - stamina - power</p>
						</div>
						<div 
							class="caption lfb ltb"  
							data-x="600" 
							data-y="120" 
							data-speed="300" 
							data-start="500"
						>
							<a class="see_work" href="#portfolio" >sign up today</a>
						</div>                                    
					</li>

					<li 
						class="slide2" 
						data-transition="boxslide" 
						data-slotamount="1"
					>
						<img src="~/Images/img/slider/06.jpg" alt="//" />
						<div 
							class="caption lfb ltb divA"  
							data-x="100" 
							data-y="bottom" 
							data-speed="700" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<h2>yoga pilates</h2>
							<p>Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin. Lorem ipsum dolor sit amet velu.</p>
						</div>

						<div 
							class="caption lfb ltb divB"  
							data-x="440" 
							data-y="bottom" 
							data-speed="700" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<h2 class="invert">indoor cycling</h2>
							<p>Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin. Lorem ipsum dolor sit amet velu.</p>
							<button class="button-gym">Read More</button>
						</div>

						<div 
							class="caption lfb ltb divC"  
							data-x="780" 
							data-y="bottom" 
							data-speed="700" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<h2>cardio fitness</h2>                               
							<p>Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin. Lorem ipsum dolor sit amet velu.</p>
						</div>
					</li> 

					<li 
						class="slide3" 
						data-transition="boxslide" 
						data-slotamount="1"
					>
						<img src="~/Images/img/slider/01.jpg" alt="//" />
						<div 
							class="caption lfb ltb"  
							data-x="100" 
							data-y="95" 
							data-speed="700" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<h2>Personal Training</h2>
						</div>
						<div 
							class="caption lfb ltb"  
							data-x="100" 
							data-y="75" 
							data-speed="500" 
							data-start="500" 
							data-easing="easeOutBack"
						>
							<p>Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin. Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum sollicitudin.</p>
						</div>
						<div 
							class="caption lfb ltb"  
							data-x="100" 
							data-y="75" 
							data-speed="300" 
							data-start="500"
						>
							<a class="see_work" href="#portfolio" >sign up today</a>
						</div>                                    
					</li>					 
				</ul>
			</div>
			</div>
			<!-- End Slider -->
		</div>
		<!-- Sub Header -->
		
		<!-- begin Intro -->
		<article class="article-container" id="intro">
			<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2><strong>Go from where you are to where you want to be</strong></h2>
					<p>If you put yourself in a position where you have to stretch outside your comfort zone, then you are forced to expand your consciousness.</p>
				</div>
			</div>
			</div>
		</article>
		<!-- end Intro -->

		<!-- begin new classes -->
		<article class="article-container">
			<div class="container" >
				<div class="row" >
					<div class="col-md-12">

					<h2 class="article-title" >Featured Classes</h2>
					<span class="line" >
						<span class="sub-line" ></span>
					</span>
					<a class="slider-control pull-right next" href="#new-classes" data-slide="next"></a>
					<a class="slider-control pull-right prev" href="#new-classes" data-slide="prev"></a>
					<a class="button-gym normal-button view-all pull-right" href="classes.html" >view all</a>
					</div>
				</div>

				<div class="row">
					<div class="new-classes" >
					<div id="new-classes" class="carousel slide">
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6 col-md-3" >
								<div class="new-class" >
									<img src="~/Images/img/classes/01.jpg" alt="//" />
									<div class="class-title" >
										<div class="occult" ><a href="#" class="link" ></a></div>
										<h3>stretching</h3>
										<p class="occult" >Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum</p>
									</div>
								</div>
							</div>
								
							<div class="col-sm-6 col-md-3" >
								<div class="new-class" >
									<img src="~/Images/img/classes/01.jpg" alt="//" />
									<div class="class-title" >
										<div class="occult" ><a href="#" class="link" ></a></div>
										<h3>dance classes</h3>
										<p class="occult" >Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum</p>
									</div>
								</div>
							</div>
								
							<div class="col-sm-6 col-md-3" >
								<div class="new-class" >
									<img src="~/Images/img/classes/01.jpg" alt="//" />
									<div class="class-title" >
										<div class="occult" ><a href="#" class="link" ></a></div>
										<h3>zen and yoga</h3>
										<p class="occult" >Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-3" >
								<div class="new-class" >
									<img src="~/Images/img/classes/01.jpg" alt="//" />
									<div class="class-title" >
										<div class="occult" ><a href="#" class="link" ></a></div>
										<h3>weight training</h3>
										<p class="occult" >Lorem ipsum dolor sit amet velum, consectetur adipiscing volutpat rutrum</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>

					</div>

				</div>
			</div>
		</article>
		<!-- end new classes --> 


		<!-- begin No pressure, no diamonds  / The Club Featured -->
		<article class="article-container">
			<div class="container" >
				<div class="row">
					<div class="col-md-7">
						<h2 class="headers">Workout of The Day</h2>
						<span class="line" >
							<span class="sub-line" ></span>
						</span>
						<div class="tabbable tabs-left">
						<ul class="nav nav-tabs col-xs-4"><!--  nav-tabs-sec" id="myTab"  nav-tabs-sec -->
							<li class="active"><a href="#outside-sec" data-toggle="tab"><span class="gym-icon outside"></span>Outside Sports</a></li>
							<li><a href="#video-sec" data-toggle="tab" ><span class="gym-icon video"></span>Video Tour</a></li>
							<li><a href="#quiet-sec" data-toggle="tab" ><span class="gym-icon sports"></span>Quiet Sports</a></li>
							<li><a href="#comunity-sec" data-toggle="tab" ><span class="gym-icon comunity"></span>Sportive Comunity</a></li>
							<li><a href="#footbal-sec" data-toggle="tab" ><span class="gym-icon footbal"></span>Footbal</a></li>
						</ul>
								 
						<div class="tab-content col-xs-8">
							<div class="tab-pane in active" id="outside-sec">
								<p>
									1Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
							<div class="tab-pane in" id="video-sec">
								<p>
									2Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
							<div class="tab-pane in" id="quiet-sec">
								<p>
									3 go ulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
							<div class="tab-pane in" id="comunity-sec">
								<p>
									4Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean mnean molestie nissl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
							<div class="tab-pane in" id="footbal-sec">
								<p>
									5Ut a molestie urna. Vestibulum malesuaollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
								</p>
								<p>
									Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
								</p>
							</div>
						</div> 

						</div>
					</div>
					<div class="col-md-5">
						<h2 class="headers">Upcoming Events</h2>
						<span class="line" >
							<span class="sub-line" ></span>
						</span>
						
						<!-- begin Accordion -->
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading">
									<h5>Gym Fitness</h5>
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">+</a>
								</div>
								<div id="collapseOne" class="accordion-body collapse in">
								<div class="accordion-inner">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">-</a>
									<h5>Indoor Cycling</h5>
									<p>
										Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at. Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulputate ante volutpat volutpat and ulla facilisi.
									</p>
								</div>
								</div>
							</div>
							
							<div class="accordion-group">
								<div class="accordion-heading">
									<h5>Yoga Pilates</h5>
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">+</a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
								<div class="accordion-inner">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">-</a>
									<h5>Indoor Cycling</h5>
									<p>
										Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at. Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulputate ante volutpat volutpat and ulla facilisi.
									</p>
								</div>
								</div>
							</div>

							<div class="accordion-group">
								<div class="accordion-heading">
									<h5>Cardio Fitness</h5>
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">+</a>
								</div>
								<div id="collapseThree" class="accordion-body collapse">
								  <div class="accordion-inner">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">-</a>
									<h5>Indoor Cycling</h5>
									<p>
										Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at. Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulputate ante volutpat volutpat and ulla facilisi.
									</p>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<!-- end No pressure, no diamonds  / The Club Featured -->


      

		<!-- begin Bodybuilding Supplements -->
		<article class="article-container">
			<div class="container" >

				<!-- arrows -->
				<div class="row" >					
					<div class="col-md-12">
						<h2 class="headers">Sponsors</h2>
						<span class="line" >
							<span class="sub-line" ></span>
						</span>
						<a class="slider-control pull-right next" href="#bodybuilding" data-slide="next"></a>
						<a class="slider-control pull-right prev" href="#bodybuilding" data-slide="prev"></a>
					</div>
				</div>
				<!-- end arrows -->

				<div class="row" >
					<div id="bodybuilding" class="carousel slide">
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<ul class="logos" >
								<li><a href="#"><img src="/Images/img/logos/1.png"  /></a></li>
								<li><a href="#"><img src="~/Images/img/logos/2.png" alt="//" /></a></li>
								<li><a href="#"><img src="~/Images/img/logos/3.png" alt="//" /></a></li>
								<li><a href="#"><img src="~/Images/img/logos/4.png" alt="//" /></a></li>
                                <li><a href="#"><img src="~/Images/img/logos/2.png" alt="//" /></a></li>

							</ul>
						</div>
					</div>
					</div>
				</div>
			</div>
		</article>
		<!-- end Bodybuilding Supplements -->
	</section>

	<!-- end content -->



