
    <!-- begin Content -->
    <section id="single-class" >
        <!-- begin Sub Header -->
        <div class="sub-header" >
            <div class="container">
                <div class="row" >
                    <ul class="sub-header-container" >
                        <li>
                            <h3 class="title">No pressure, no diamonds</h3>
                        </li>
                        <li>
                            <ul class="custom-breadcrumb" >
                                <li><h6><a href="index.html">Home</a></h6></li>
                                <li><i class="separator entypo-play" ></i></li>
                                <li><h6><a href="#">Classes</a></h6></li>
                                <li><i class="separator entypo-play" ></i></li>
                                <li><h6>Single Class</h6></li>
                            </ul>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end Sub Header -->

        <article class="article-container">
            <div class="container" >
                <div class="row" >
                    <div class="col-md-12">
                    <h2 class="article-title" >Fitness Single Class</h2>
                    <span class="line" >
                        <span class="sub-line" ></span>
                    </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h2>Do you have a well-planned fitness routine?</h2>
                        <p>Proin eros ante, viverra id risus non, porttitor posuere enim. In hac habitasse platea dictumst. Integer dapibus velit eu mattis ullamcorper. Nam ac placerat ligula, eu sodales nisl. Sed libero nisi, aliquet non tellus non, pharetra faucibus diam. Phasellus scelerisque fringilla diam, ac rhoncus purus sodales mattis. Nullam eleifend molestie felis ac tempus. Curabitur semper arcu a est viverra, vel adipiscing dui tristique. Aliquam erat volutpat. Duis pharetra congue tellus nec imperdiet. Donec pellentesque aliquet risus eu pellentesque. Donec varius ut ligula in lobortis.</p>
                        <p> Maecenas ut scelerisque ante. Maecenas nunc libero, suscipit ut adipiscing sit amet, accumsan sed eros. Vestibulum varius lacus eget molestie tempor. Nam bibendum ullamcorper laoreet. Sed vestibulum erat ac est facilisis commodo. Donec posuere dolor metus, et placerat turpis sodales sit amet. Cras semper libero eu tempus viverra.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-gym">
                            <div class="panel-heading">
                                <h3 class="panel-title">Fitness Class Details</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="custom-icon-list" >
                                    <li><i class="entypo-user" ></i>Teacher: Mike Smithson and Amanda Doe</li>
                                    <li><i class="entypo-calendar" ></i>Monday to Friday</li>
                                    <li><i class="entypo-clock" ></i>10AM - 11AM and 7PM - 8PM</li>
                                    <li><i class="entypo-location" ></i>Room 07, Center Plaza 15654</li>
                                    <li><i class="entypo-newspaper" ></i>See Pricing Tables</li>
                                </ul>
                            </div>
                            <div class="panel-footer"><a href="#">Registration</a></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </article>

        <!-- begin Related Classes -->
        <article class="article-container">
            <div class="container" >
                <div class="row" >
                    <div class="col-xs-12">
                    <h2 class="headers">Featured Classes</h2>
                    <span class="line" >
                        <span class="sub-line" ></span>
                    </span>
                    <a class="button-gym normal-button view-all pull-right no-margin" href="classes.html" >view all</a>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-xs-3 col-sm-1" >
                        <img src="~/Images/img/featured-classes/ballet-red.png" alt="//" />
                    </div>
                    <div class="col-xs-9 col-sm-3 fc-container" >
                        <h3>Ballet classes</h3>
                        <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                        <a href="#">Read more...</a>
                    </div>
                    
                    <div class="col-xs-3 col-sm-1" >
                        <img src="~/Images/img/featured-classes/yoga-red.png" alt="//" />
                    </div>
                    <div class="col-xs-9 col-sm-3 fc-container" >
                        <h3>Yoga classes</h3>
                        <p>
                            Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.
                        </p>
                        <a href="#">Read more...</a>
                    </div>
                    
                    <div class="col-xs-3 col-sm-1" >
                        <img src="~/Images/img/featured-classes/karate-red.png" alt="//" />
                    </div>
                    <div class="col-xs-9 col-sm-3 fc-container" >
                        <h3>Karate classes</h3>
                        <p>
                            Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.
                        </p>
                        <a href="#">Read more...</a>
                    </div>
                  </div>
              </div>
        </article>  
        <!-- end Related Classes -->

        <article class="article-container">
            <div class="container" >
            <div class="row">
                <div class="col-md-8">
                    <h2 class="article-title">Weekend Classes</h2>
                    <span class="line" >
                        <span class="sub-line" ></span>
                    </span>
                    <!-- TABS -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#indoor" data-toggle="tab">Indoor Cycling</a></li>
                        <li><a href="#gym-fitness" data-toggle="tab" >Gym Fitness</a></li>
                        <li><a href="#pilates" data-toggle="tab" >Pilates</a></li>
                        <li><a href="#fitness" data-toggle="tab" >fitness</a></li>
                    </ul>
                     
                    <div class="tab-content">
                        <div class="tab-pane active" id="indoor">
                            <p>
                                1 Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
                            </p>
                            <p>
                                Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
                            </p>
                        </div>
                        <div class="tab-pane" id="gym-fitness">
                            <p>
                                2 alesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
                            </p>
                            <p>
                                Maecenas pellentesque rhoncus egestas. Aenean molestie nisl eget semper pretium. Praesent adipiscing faucgna, eu vulbus magna, eu vum urna euismod purus, ut vari volutpat volutpat and ulla facilisi. 
                            </p>
                        </div>
                        <div class="tab-pane" id="pilates">
                            <p>
                                3 Go ibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenpus egestas ante, vel ullamcorper nulla ultricies at.
                            </p>
                            <p>
                                que rhoncus egestanisl eget semper pretium urna euismod purus, ut varidipiscing faucibus magna, eu vulbus magna, eu vul and putate ante volutpat volutpat and ulla facilisi. 
                            </p>
                        </div>
                        <div class="tab-pane" id="fitness">
                            <p>
                                4 and go ibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci. Sed ultricies elit eget venenatis tristique. Sed tempus egestas ante, vel ullamcorper nulla ultricies at.
                            </p>
                            <p>
                                que rhoncus egestanisl eget semper pretium. Praesent adipiscing faucibus magna, eu vulbus magna, eu vul and putate ante vm urna euismod purus, ut vari and ulla facilisi. 
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h2 class="article-title">Testimonials</h2>
                    <span class="line" >
                        <span class="sub-line" ></span>
                    </span>
                    <div id="testimonials" class="carousel slide">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        
                        <div class="item active">
                            <div class="testimonial-container sec" >                                        
                                <p>
                                    <span class="img-container" >
                                        <img src="~/Images/img/testimonials/01.jpg" alt="img">
                                    </span>
                                    "Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.ed ultricieget"
                                </p>
                                <span class="border">
                                    <span class="back" ></span>
                                </span>
                            </div>
                            <h4 class="testimonials-name" >Mike Smithson</h4>
                            <h6 class="testimonials-position" > 1 Personal Trainer</h6>
                        </div>

                        <div class="item">
                            <div class="testimonial-container sec" >                                        
                                <p>
                                    <span class="img-container" >
                                        <img src="~/Images/img/testimonials/02.jpg" alt="img">
                                    </span>
                                    "Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.ed ultricieget"
                                </p>
                                <span class="border">
                                    <span class="back" ></span>
                                </span>
                            </div>
                            <h4 class="testimonials-name">Amanda Timston</h4>
                            <h6 class="testimonials-position" >2 Personal Trainer</h6>
                        </div>

                    </div>
                    </div>

                </div>    
            </div>
            </div>
        </article>
    </section>
    <!-- end content -->
